* {
  box-sizing: border-box;
}

.header {
  height: 100px;
  font-size: 70px;
  color: white;
  text-align: center;
  background-color: blue;
}
.main {
  .mainTop {
    height: 300px;
    width: 100vw;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background-color:lightgray;
    .userImage {
      height: 300px;
      width: 300px;
      background-color: white;
    }
    .userInfo {
      height: 300px;
      width: 300px;
      margin-left: 20px;
      padding: 10px;
      background-color: white;
      .userInfo_1 {
        height: 80px;
        width: 280px;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        background-color: pink;
      }
      .userInfo_2 {
        height: 80px;
        width: 280px;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        background-color: pink;
      }
      .userInfo_3 {
        height: 80px;
        width: 280px;
        padding: 25px 20px;
        border-radius: 20px;
        background-color: pink;
        display: flex;
        .button1 {
          margin-right: 20px;
          a {
            color: white;
            text-decoration: none;
            font-size: 8px;
          }
        }
        .button1 a {
          text-align: center;
          padding: 5px 0;
          display: block;
          height: 30px;
          width: 110px;
          border-radius: 20px;
          border: 2px solid black;
          background-color: lightseagreen;
        }
        .button2 {
          a {
            color: white;
            text-decoration: none;
            font-size: 8px;
          }
        }
        .button2 a {
          text-align: center;
          padding: 5px 0;
          display: block;
          height: 30px;
          width: 110px;
          border-radius: 20px;
          border: 2px solid black;
          background-color: lightseagreen;
        }
      }
    }
  }
  .mainBottom {
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    #myChart {
      height: 300px;
      width: 300px;
      background-color: black;
    }
  }
}