<div class="header">
  マイページ
</div>
    
<div class="main">
  <div class="mainTop">
    <div class="userImage">
      <img src='user_image.png' alt='画像' height="300" width="300">
    </div>
    <div class="userInfo">
      <div class="userInfo_1">
        ユーザー名：
      </div>
      <div class="userInfo_2">
        努力ポイント： <%= @sum %>ポイント
      </div>
      <div class="userInfo_3">
        <a href="#">ポイント交換</a>
        <a href="/">トップページ</a>
      </div>
    </div>
  </div>
  <div class="mainBottom">
    <div style="position:absolute; top:420px; width:500px; height:280px;">
      <canvas id="myChart"></canvas>
    </div>
      <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["心","技","体"],
        datasets: [{
          label: '積み上げ',
          data: [
            <%= Post.all.sum(:spirit) %>,
            <%= Post.all.sum(:technique) %>,
            <%= Post.all.sum(:body) %>
            ],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
      });
      </script>
  </div>
</div>