.Wrapper
  .Header
    可視化メーター
  .Content
    %details
      -# = link_to '#' do
      %summary= icon("fas", "cogs")
      = link_to "パラメーター", "/posts/new"
      = link_to "ログアウト"
  .Main
    = @posts
      