* {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 100%;
  .header {
    height: 100px;
    font-size: 70px;
    color: white;
    text-align: center;
  }
  
  .content {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: red;
    .contentUser {
      height: 40px;
      width: 40px;
      margin-right: 5px;
      .userImage {
        height: 40px;
        width: 40px;
        margin-left: 5px;
      }
    }
    .contentIcon {
      height: 40px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      details {
        height: 40px;
        width: 100px;
        margin-top: 15px;
        margin-left: 5px;
        summary {
          outline: none;
        }
        .contentShow {
          color: black;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  
  .main {
    padding: 0 100px;
    .mainTitle {
      height: 80px;
      background-color: yellow;
      text-align: center;
      .mainText {
        height: calc(100vh - 230px);
        width: calc(100vw - 200px);
        padding: 20px 100px;
        background-color: white;
        overflow: scroll;
        display: flex;
        justify-content: space-around;
        &__left {
          height: 300px;
          width: 300px;
          .userImage {
            height: 300px;
            width: 300px;
          }
        }
        &__right {
          height: 500px;
          width: 500px;
          .textTittle {
            height: 50px;
            width: 500px;
            font-size: 24px;
            &__content {
              position: relative;
              display: inline-block;
              padding: 0.25em 0.5em;
              text-decoration: none;
              background: #00BCD4;
              color: #00BCD4;
              box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
              border-bottom: solid 2px #118e9e;
              border-radius: 4px;
              font-weight: bold;
              text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
            }
            
            &__content:active {
              border-bottom: solid 2px #00BCD4;
              box-shadow: none;
              text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
            }
          }
          .textContent {
            font-size: 16px;
            .balloonLeft {
              position: relative;
              display: inline-block;
              margin: 1.5em 0 1.5em 15px;
              padding: 7px 10px;
              min-width: 120px;
              max-width: 100%;
              color: #555;
              font-size: 16px;
              background: #FFF;
              border: solid 3px #555;
              box-sizing: border-box;
              .contentEdit {
                text-decoration: none;
              }
              .contentDelete {
                text-decoration: none;
              }
            }
            .balloonLeft:before {
              content: "";
              position: absolute;
              top: 50%;
              left: -24px;
              margin-top: -12px;
              border: 12px solid transparent;
              border-right: 12px solid #FFF;
              z-index: 2;
            }
            
            .balloonLeft:after {
              content: "";
              position: absolute;
              top: 50%;
              left: -30px;
              margin-top: -14px;
              border: 14px solid transparent;
              border-right: 14px solid #555;
              z-index: 1;
            }
          }  
        }
      }
    }
  }
}