* {
  box-sizing: border-box;
}

.Header {
  height: 200px;
  background-color: darkgray;
  font-size: 70px;
  color: white;
  text-align: center;
}

.Content {
  height: 50px;
  background-color: red;
}