* {
  box-sizing: border-box;
}

.Header {
  height: 150px;
  background-color: darkgray;
  font-size: 70px;
  color: white;
  text-align: center;
}

.Content {
  height: 50px;
  background-color: red;
}

.Main {
  &__title {
    height: 80px;
    font-size: 64px;
    background-color: yellow;
    text-align: center;
  }
  &__text {
    height: calc(100vh - 280px);
    font-size: 24px;
    background-color: white;
    padding: 20px 100px;
    overflow: scroll;
    .textContent {
      p {
        height: 60px;
        background-color: lightgreen;
        text-align: center;
        border: 10px ridge red;
        margin: 20px 0;
      }
      
      
    }
  }
}