.logForm {
  height: 100%;
  width: 100%;
  // background-color: green;
  // display: flex;
  // display: block;
  // justify-content: center;
  .formHeader {
    height: 60px;
    // width: 600px;
    font-size: 24px;
    font-weight: bold;
    // background-color: blue;
    display: flex;
    justify-content: center;
    text-align: center;
    h2 {
      height: 60px;
      width: 600px;
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding-top: 10px;
      background-color: blue;
      // background-color: yellow;
    }

  }
  
  .formMain {
    // height: 500px;
    display: flex;
    justify-content: center;
    // background-color: black;
    .new_user {
      // height: 560px;
      width: 600px;
      // display: flex;
      // justify-content: center;
      padding: 10px;
      border: 1px solid black;
      // background-color: rgb(206, 202, 202);
      .formMain__list {
        height: 100px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        // background-color: red;
        .field {
          height: 100px;
          width: 500px;
          font-weight: bold;
          // text-align: center;
          border-radius: 20px;
          padding: 20px 10px;
          // display: flex;
          // justify-content: center;
          background-color: pink;
          // .email {
          //   width: 500px;
          // }
          input[type="text"] {
            height: 35px;
            width: 480px;
          }
          input[type="email"] {
            height: 35px;
            width: 480px;
          }
          input[type="password"] {
            height: 35px;
            width: 480px;
          }
          // input[type=""] {
          //   height: 35px;
          //   width: 480px;
          // }
        }
        .actions {
          height: 100px;
          width: 500px;
          font-weight: bold;
          // text-align: center;
          border-radius: 20px;
          padding: 20px 10px;
          display: flex;
          align-items: center;
          background-color: pink;
          input[type="submit"] {
            height: 35px;
            width: 480px;
            color: white;
            border-radius: 50px;
            background-color: tomato;
          }
        }
      }
      
    }

  }


}
